body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Change font to Roboto for a cleaner look */
    background: #f1f5f9;  /* Lighter shade of grey for subtle contrast */
}

.main-container {
    max-width: 80%;  /* Increase container size */
    margin: 10px auto;
    background-color: #ffffff;
    padding: 20px;  /* More padding for spaciousness */
    border-radius: 12px;  /* Increase radius for softer corners */
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);  /* More prominent shadow */
    border: 1px solid #e1e1e1;  /* Subtle border */
    overflow-y: auto;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333; /* Darker text color */
    margin-top: 0;  
}

.input-container {
    margin-bottom: 25px;
    margin-top: 15px;
}

label {
    font-weight: 500; /* Slight reduction for a modern feel */
    display: block;
    margin-bottom: 15px;
    font-size: 1.3em;  /* Increase font size for prominence */
    color: #555;  /* Subtle text color */
}

.file-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-wrapper input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    outline: none;
    cursor: pointer;
}

.file-wrapper .btn-file {
    padding: 12px 15px;  /* More padding */
    background-color: #007bff;  /* Button color */
    color: #fff;  /* Text color */
    border-radius: 8px;
    border: none;
    font-size: 1.1em;
    display: block;
    text-align: center;  /* Center text */
    transition: background-color 0.3s ease;  /* Transition effect */
}

.file-wrapper .btn-file:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;  /* Spacing */
}

input[type=submit] {
    width: 30%;
    padding: 12px;
    font-size: 1.1em;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;  /* Added transform */
}

input[type=submit]:hover {
    background-color: #0056b3;
    transform: translateY(-2px);  /* Slight lift on hover */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    white-space: nowrap;
    max-width: 90%;    
}

.image-container img {   
    max-width: 100%;
    margin: 15px 0;  /* Added spacing */
    border: 1px solid #ccc;
    border-radius: 8px;  /* Rounded corners for images */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.message-container {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f8f9fa;  /* Background color for messages */
    border: 1px solid #e1e1e1;  /* Border */
}

.message-container.error {
    background-color: #ffdddd;
    border: 1px solid #ff5c5c;
}

.message-container.success {
    background-color: #d4edda;
    border: 1px solid #28a745;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: stretch;
    }

    input[type=submit] {
        width: 100%;
        margin-bottom: 15px;
    }
}
.face-number {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #ff0000;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 1;
}



.aligned-image {
    display: inline-block;
    position: relative;
    max-width: 50%;
}
.selection-row {
    display: flex;
    align-items: center; /* Vertically aligns items in the center */
    justify-content: space-between; /* Distributes space between the items */
    gap: 20px; /* Adds spacing between the items */
}
.combo-box-container {
    display: flex;
    align-items: center;
    gap: 10px; /* or any spacing you prefer */
}
.combo-box-container label {
    font-weight: 500; /* Slight reduction for a modern feel */
    display: block;
    margin-bottom: 12px;
    font-size: 1em;  /* Increase font size for prominence */    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #000000; 
}


#selected-option {
    display: inline-block; /* Display the selected option inline */
    margin-left: 10px; /* Add some spacing between the combo box and text */
}