{% extends "base.html" %} {% block title %} Image Processing {% endblock %} {%
block content %}
<h1 class="text-light m-4">Upload and Process Images</h1>
<div class="main-container">
    <form action="/" method="POST" enctype="multipart/form-data" class="w-100">
        <div class="d-flex align-items-center justify-content-center">
            {% for i in range(2) %}
            <div class="d-flex flex-column col-4">
                <!-- Drag area  -->
                <div id="dragarea{{i+1}}"
                    class="drag-area position-relative d-flex align-items-center justify-content-center flex-column rounded-top-2 p-5">
                    <img class="d-none position-absolute rounded-top-2 h-100 w-100" alt="image" />
                    <input type="file" name="image{{i+1}}" accept="image/*" hidden />
                    <input type="number" name="face_num{{i+1}}" accept="image/*" value="-2" id="face_num_input{{i+1}}" hidden />
                    <div class="d-flex align-items-center justify-content-center flex-column"
                        id="dragarea{{i+1}}-content">
                        <div class="icon text-light user-select-none">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <header class="text-light user-select-none text-center">
                            Drag & Drop to Upload File
                        </header>
                        <span class="text-light user-select-none">OR</span>
                        <button type="button" class="btn btn-outline-primary btn-light px-4 py-2">
                            Browse File
                        </button>
                    </div>
                </div>
                <div class="form-floating w-100">
                    <select id="combo-box{{i+1}}" class="form-select rounded-top-0 rounded-bottom-2">
                        <option value="-2">All</option>
                        {% for j in range(faces_length[i]) %}
                        <option value="{{ j }}">Face {{ j + 1 }}</option>
                        {% endfor %}
                    </select>
                    <label for="combo-box{{i+1}}">Select a Face:</label>
                </div>
            </div>

            {% if i == 0 %}
            <!-- Buttons -->
            <div class="d-flex col-2 flex-column align-items-center">
                {% if current|length==0 %}
                <input type="submit" name="action" value="Upload" class="submit-btn w-75 m-2" />
                {% endif %}
                <input type="submit" name="action" value="Detect" class="submit-btn w-75 m-2" />
                <input type="submit" name="action" value="Align" class="submit-btn w-75 m-2" />
                <input type="submit" name="action" value="Check" class=" submit-btn w-75 m-2" />
                <input type="submit" name="action" value="Compare" class=" submit-btn w-75 m-2" />
                <input type="submit" name="action" value="Clear" class="submit-btn w-75 m-2" />
            </div>
            {% endif %} {% endfor %}
        </div>
    </form>
</div>

<div id="messageContainer" style="z-index: 11;" class="position-fixed bottom-0 end-0 p-0 ">
</div>
<div class="image-container d-flex justify-content-center flex-wrap w-100 text-center">
    {% for image_info in images %}
    <div class="aligned-image col-6">
        {% if "aligned_" in image_info or "detected_" in image_info %}
        <img src="{{ url_for('processed_static', filename=image_info) }}" alt="Processed Image" />
        {% else %}
        <img src="{{ url_for('custom_static', filename=image_info) }}" alt="Uploaded Image" />
        {% endif %} {% if 'aligned_face_' + (selected_face | string) in image_info
        %}
        <div class="face-number">{{ selected_face + 1 }}</div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<script>
    const errors = "{{errors}}".slice(1, -1)
        .split(",")
        .map(function (item) {
            return item.replace(/&#39;/g, "").trim();
        });
    const messages = "{{messages}}".slice(1, -1)
        .split(",")
        .map(function (item) {
            return item.replace(/&#39;/g, "").trim();
        });

    const current_images = "{{current}}"
        .slice(1, -1)
        .split(",")
        .map(function (item) {
            return item.replace(/&#39;/g, "").trim();
        });
</script>
{% endblock %}